
.App{
  height: 400px;
  width: 600px;
  
  margin: auto;
}



.form{
  height: 100px;
  width: 500px;
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

.list{
  min-height: 100px;
  width: 500px;
  margin: auto;
  
  border: 1px solid black;
}